<%= form_for :infohub, html: { class: "col-6 mx-auto" } do |f| %>
    <div class="text-start">
        <%= form.label :region_id, class: "form-label ms-1" %><br>
        <%= f.select :region_id, options_for_select(@regions.collect{ |r| [r.name, r.id] }, 35), {}, { class: "form-select border-secondary" } %>
    </div>
    <div class="text-start">
        <%= form.label :region_id, class: "form-label ms-1" %><br>
        <%= f.select :region_id, options_for_select(@regions.collect{ |r| [r.name, r.id] }, 35), {}, { class: "form-select border-secondary" } %>
    </div>
    <div>
        <%= f.submit "Get Details" class: "btn btn-primary fw-bold" %>
    </div>
<% end %>
