<%= form_with scope: "infohub", url: infohub_path, html: { class: "d-flex flex-wrap justify-content-around mx-auto" }, remote: true do |f| %>
    <div class="text-start col-5">
        <%= f.label :year_id, class: "form-label ms-1" %><br>
        <%= f.select :year_id, options_for_select(@years.collect{ |y| [y.year, y.id] }), {}, { class: "form-select border-secondary" } %>
    </div>
    <div class="text-start col-5">
        <%= f.label :crop_id, class: "form-label ms-1" %><br>
        <%= f.select :crop_id, options_for_select(@crops.collect{ |c| [c.name, c.id] }), {}, { class: "form-select border-secondary" } %>
    </div>
    <div class="col-3 mt-4 mx-auto text-center">
        <%= f.submit "Get Details", class: "btn btn-primary fw-bold" %>
    </div>
<% end %>
