<%= form_with url: message_path(params[:id]), method: "patch", class: "col-6 bg-light border-top border-2 border-secondary py-3 d-flex justify-content-evenly" do |f| %>  
  <%= f.hidden_field :sender_id, value: Current.user.id %>
  <%= f.hidden_field :receiver_id, value: params[:id] %>
  <div class="col-9 col-md-8">
    <%= f.text_field :content, class: "form-control border-dark", autocomplete: 'off' %>
  </div>
  <div class="text-center">
    <%= f.submit "Send", class: "btn btn-primary" %>
  </div>
<% end %>