<div class="col-3"></div>
<div class="col-9 py-5 d-flex justify-content-evenly">
    <div class="col-6">
        <%= render "profiles/connections" %>
        <br />
        <%= render "profiles/uploads" %>
    </div>
    <div class="col-5"></div>
    <div class="col-4 position-fixed d-flex flex-column justify-content-evenly align-items-center border-start border-3 border-dark" style="height: 100% !important; right: 0; top: 0;">
        <div>
            <%= image_tag "#{@person.id}.png", size: "150", class: "rounded-circle" %>
        </div>
        <div class="border border-3 border-secondary rounded p-5 shadow">
            <div class="d-flex">
                <div class="">
                    <p>Name &emsp;</p>
                    <p>Place &emsp;</p>
                    <p>Favourite Plant &emsp;</p>
                </div>
                <div class="">
                    <p> : &emsp; <%= @person.first_name + " " + @person.last_name %> </p>
                    <p> : &emsp; <%= @place %> </p>
                    <p> : &emsp; <%= @person.fav_plant %> </p>
                </div>
            </div>
            <br />
            <div class="text-center" id="connect-button">
                <%= render partial: "profiles/connect", locals: {val: @val} %>
            </div>
        </div>
    </div>
</div>
