<ul class="list-group px-lg-5">
  <% @feeds.each_with_index do |post, index| %>
    <li class="list-group-item border border-dark p-0 shadow rounded">
        <div class="d-flex border-bottom border-dark m-0 p-2 text-start">
            <%= image_tag("shobhit.jpg", size: "50", class: "rounded-circle") %>
            <div class="ps-4">
                <span class="fw-bold">
                    <% user = get_user post.user_id %>
                    <%= user.fname + " " + user.lname %>
                </span>
                <br />
                <span class="text-muted">
                    <% Time.use_zone("Kolkata") do  %>
                        <%= post.created_at.strftime("%d/%m/%Y %I:%M %p") %>
                    <% end %>
                </span>
            </div>
        </div>
        <%= link_to post, class: "d-flex justify-content-center p-2 text-decoration-none" do %>
            <%= post.content %>
        <% end %>
        <div class="d-flex justify-content-evenly p-2 border-top border-dark">
            <%= button_tag "âœŒï¸ Good", { class: "btn btn-outline-primary btn-sm fw-bold", id: "reaction-button-#{index}", onclick: "toggleReactionButton('reaction-button-#{index}')" }  %>
            <%= button_tag "ðŸ’¬ Comments", { class: "btn btn-outline-primary btn-sm fw-bold", onclick: "openCommentForm('comment-form-#{index}')" } %>
            <%= mail_to "", "â© Share", subject: "I wanted you to see this post", body: "Check out this post #{request.original_url}/#{post.id}.\n", class: "btn btn-outline-dark btn-sm fw-bold" %>
        </div>
        <%= content_tag(:div, id: "comment-form-#{index}", class: "border-top border-dark p-2 hide") do %>
            <%= render "comments/form", post: post %>
        <% end %>
    </li>
    <br />
  <% end %>
</ul>
