<div class="fs-4 fw-bold">Ask a Query</div>
<br>
<%= form_with model: @discussion, url: discussions_path do |form| %>
    <%= form.hidden_field :user_id, value: Current.user.id %>
    <br>
    <div class="text-start">
        <%= form.label :region_id, class: "form-label ms-1" %><br>
        <%= form.select :region_id, options_for_select(@regions.collect{ |r| [r.name, r.id] }, 35), {}, { class: "form-select border-secondary" } %>
    </div>
    <br>
    <div class="text-start">
        <%= form.label :content, class: "form-label ms-1" %><br>
        <%= form.text_area :content, class: "form-control border-secondary", placeholder: "Type here ..." %>
    </div>
    <br>
    <div class="text-center">
        <%= form.submit "Submit", class: "btn btn-primary fw-bold" %>
    </div>
<% end %>