<div class="col-12">
    <% postMake = defined?(post) ? post : @feed %>
    <%= form_for([postMake, postMake.comments.build], html: { class: "d-flex justify-content-between" }) do |form| %>
        <%= form.hidden_field :user_id, value: Current.user.id %>
        <div class="text-start col-9">
            <!-- <%= form.label :content, class: "form-label ms-1" %><br> -->
            <%= form.text_field :content, class: "form-control border-secondary", placeholder: "Add your comment ..." %>
        </div>
        <div>
            <%= form.submit "Submit", class: "btn btn-primary fw-bold" %>
        </div>
    <% end %>
</div>