<div class="col-3 d-flex flex-column flex-shrink-0 py-3 text-center text-white bg-dark position-fixed" style="height: 100% !important; top: 0; left: 0;">
  <a href="/" class="d-flex text-white text-decoration-none">
    <span class="fs-4 mx-auto">Digi Farm</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto col-8 mx-auto">
    <br>
    <li class="nav-item">
      <%= active_link_to "Feeds", feeds_path %>
    </li>
    <br>
    <li class="nav-item">
      <%= active_link_to "Notifications", notifications_path %>
    </li>
    <br>
    <li class="nav-item">
      <%= active_link_to "Messages", messages_path %>
    </li>
    <br>
    <li class="nav-item">
      <%= active_link_to "Discussions", discussions_path %>
    </li>
    <br>
    <li class="nav-item">
      <%= active_link_to "Info Hub", infohub_path %>
    </li>
    <br>
    <li class="nav-item">
      <%= active_link_to "Profile", profiles_path %>
    </li>
    <br>
  </ul>
  <hr>
  <%= button_to "Log out", sign_out_path, method: :delete, class: "fs-5 mx-auto btn btn-sm btn-light" %>
</div>