<div class="col-12 d-flex p-5 h-100 align-items-center justify-content-evenly">
    <div class="col-12 col-md-5 d-flex justify-content-center">
        <%= image_tag "main.jpg", size: 500, alt: "farmer with crops" %>
    </div>
    <div class="col-12 col-md-4 p-5 text-start border border-2 rounded-3 bg-warning">
        <p class="fs-3">&nbsp;Welcome Back,</p>
        <hr />
        <br />
        <%= form_with model: @user, url: root_path do |form| %>
            <div class="mb-3">
                &nbsp;<%= form.label :email, class: "form-label fw-bold" %>
                <%= form.text_field :email, placeholder: "Enter your email", class: "form-control" %>
            </div>
            <div class="mb-3">
                &nbsp;<%= form.label :password, class: "form-label fw-bold" %>
                <%= form.password_field :password, placeholder: "Enter your password", class: "form-control" %>
            </div>
            <div class="mt-4 text-center">
                <%= form.submit "Let's Begin", class: "btn btn-primary" %>
            </div>
        <% end %>
        <br />
        <hr />
        <br />
        <div class="d-flex justify-content-center ">
            <%= link_to "Register", "/sign_up", class: "btn btn-lg btn-success" %>
        </div>
    </div>
</div>